body {
    background-color:hsla(214, 61%, 50%, 0.824);
    display:flex;
    align-items:center;
    justify-content:center;
    height:90%;
}
  
.form {
    max-width:210px;
    border-radius:20px;
    box-shadow:20px 20px 20px rgba(0, 0, 0, 0.500);
    background-color: white;
    padding:30px 30px;
}
  
.top {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.center {
    border-radius:20px;
    margin-bottom:20px;
    padding:10px 20px;
}
  
button {
    display: flex;
    justify-content: center;
    border-radius:20px;
    padding:10px 20px;
    font-size:18px;
    font-weight:bold;
    background-color:hsla(214, 61%, 50%, 0.824);
    color:white;
    margin-top:5px;
    margin-bottom:20px;
    margin-left:55px;
}

.bottom1 {
    display: flex;
    justify-content: center;
    width: 40%;
    border-radius:20px;
    padding:10px 10px;
    font-size: 14px;
    font-weight:bold;
    background-color:hwb(214 38% 11% / 0.692);
    margin-top:10px;
    margin-left:53px;
}

.bottom2 {
    display: flex;
    justify-content: center;
    width: 70%;
    border-radius:20px;
    padding:10px 20px;
    font-size:14px;
    font-weight:bold;
    background-color:hwb(214 38% 11% / 0.692);
    margin-top:10px;
    margin-left:12px;
    white-space: nowrap;
}
  
